[submodule "fungi-contracts/lib/forge-std"]
	path = fungi-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fungi-contracts/lib/solady"]
	path = fungi-contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/vectorized/solady
